body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #5f6c7b;
  font-size: 18px;
  line-height: 1.5;
}

main {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  color: #3da9fc;
  font-size: 50px;
  margin: 30px 0;
}

h2 {
  color: #094067;
  font-size: 28px;
  margin-top: 20px;
}

p {
  color: #5f6c7b;
}

hr {
  margin: 20px 0;
  color: #094067;
}

section {
  margin: 20px 0;
}

li {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
ol {
  padding: 0;
}
ul {
  padding: 0;
}

.container {
  display: flex;
  gap: 20px;
}

#github {
  cursor: pointer;
}
